{% extends 'songfy/base.html' %}
{% block content %}
<div class="container">
		<div class="artist container">
			<table class="table">
				{% for artist in artists %}
					<tr>
						<td>
							<a href="{% url 'songfy:artist_song' artist.id %}">{{ artist.name }}</a>
						</td>
						<td class="delete" align="right">
							<a href="{% url 'songfy:artist_delete' artist.id %}">Delete</a>
						</td>
					</tr>
				{% endfor %}	
			</table>				
			<a href="{% url 'songfy:add_artist' %}">
				<button type="button" class="bg-warning btn btn-primary">Add New</button>
			</a>
		</div>
</div>
{% endblock %}