{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Songfy</title>
    <link rel="stylesheet" href="{% static 'css/songfy.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
    <header>
        <section>
            <a href="{% url 'songfy:home' %}">
                <h1 class="logo">Songfy</h1>
            </a>
        </section>
        <h3>Organise Your Song Collection</h3>
        <section>
             <nav>
                <a href="{% url 'songfy:home' %}">Home</a>
                <a href="{% url 'songfy:artist_lst' %}">Artists</a>
                <a href="{% url 'songfy:genre_lst' %}">Genres</a>
                <a href="{% url 'songfy:playlist_lst' %}">Playlists</a>
            </nav>
        </section>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <small>&copy; Songfy</small>
        <section>
            <nav>
                <a href="{% url 'songfy:home' %}">Home</a>
                <a href="{% url 'songfy:artist_lst' %}">Artists</a>
                <a href="{% url 'songfy:genre_lst' %}">Genres</a>
                <a href="{% url 'songfy:playlist_lst' %}">Playlists</a>
            </nav>
        </section>
    </footer>
</body>
</html>
