{% extends 'songfy/base.html' %}
{% block content %}
<div class="container">
	<table class="table">
		{% for genre in genres %}
			<tr>
				<td>
					<a href="{% url 'songfy:genre_song' genre.id %}">{{ genre.name }}</a>
				</td>
				<td class="delete" align="right">
					<a href="{% url 'songfy:genre_delete' genre.id %}">Delete</a>			
				</td>
			</tr>
		{% endfor %}
	</table>
	<button type="button" class="btn btn-primary bg-warning">
		<a href="{% url 'songfy:add_genre' %}">Add New</a>
	</button>
</div>
{% endblock %}