{% extends 'songfy/base.html' %}
{% block content %}
    <section class="container">
        <table class="table">
            <th scope="col">Song</th>
            <th scope="col">Genre</th>
            <th scope="col">Artist</th>
            <th scope="col">Duration</th>
            {% for song in songs %}
             <tr>
                <td><a href="{% url 'songfy:song_detail' song.id %}">{{ song.title }}</a></td>
                <td><a href="{% url 'songfy:genre_song' song.genre.id %}">{{ song.genre }}</a></td>
                <td><a href="{% url 'songfy:artist_song' song.artist.id %}">{{ song.artist }}</a></td>
                <td>{{ song.duration}}</td>
             </tr>
             {% endfor %}
        </table>
        <a href="{% url 'songfy:add_song' %}">
            <button type="button" class="btn  bg-warning btn-primary">Add New</button>
        </a>
    </section>
{% endblock %}
