{% extends 'songfy/base.html' %}
{% block content %}
<div class="container">
		<table class="table">
			{% for playlist in playlists %}
				<tr>
					<td>
						<a href="{% url 'songfy:playlist_song' playlist.id %}">{{ playlist.name }}</a>
					</td>
					<td  class="delete" align="right">
						<a href="{% url 'songfy:playlist_delete' playlist.id %}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<button type="button" class="btn bg-warning btn-primary">
			<a href="{% url 'songfy:add_playlist' %}">Make New</a>
		</button>
</div>
{% endblock %}